@model IEnumerable<PetShopWebApplication.Models.Cage>

@{
    ViewData["Title"] = "Index";
}

<h1>Список кліток для обраного магазину</h1>

<p>
    <a asp-action="Create">Додати клітку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Square)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Square)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Редагувати</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<input type="button" value="Повернутися до таблиці магазинів"onClick='location.href="https://localhost:44324/Shops"'/>